/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --paragraph-color: #777;
  --section-padding: 100px;
  --main-transition: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -ms-scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Lagre Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center;
}

.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
  position: relative;
}

.main-heading h2::before {
  content: "";
  width: 120px;
  height: 2px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
}

.main-heading h2::after {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #333;
  border-radius: 50px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: white;
}

.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  line-height: 2;
  color: var(--paragraph-color);
  max-width: 100%;
}
/* End Components */
/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 97px;
  position: relative;
}

header .container::after {
  content: "";
  width: calc(100% - 30px);
  height: 1px;
  background-color: #a2a2a2;
  position: absolute;
  bottom: 0;
  left: 15px;
}

header .logo img {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none
  }

  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0 0 0 / 50%);
  }

  header nav ul li a {
    padding: 15px !important;
  }
}

header nav ul li a {
  display: block;
  color: white;
  padding: 40px 10px;
  font-size: 14px;
  transition: var(--main-transition);
  position: relative;
  z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header nav .form {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  border-left: 1px solid white;
  position: relative;
}

header nav .form i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021; /* iF There Is A Problem With An Image */
  background-image: url(../Images/landing.jpg);
  background-size: cover;
  position: relative;
}

.landing .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}

.landing .text {
  width: 50%;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }

  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}

.landing .change-background {
  color: #ddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.landing .left {
  left: 30px;
}

.landing .right {
  right: 30px;
}

@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}

.landing .bullets {
  width: 80px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}

.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 60px 40px;
  }
}

.services .services-content .service-box {
  display: flex;
}

.services .services-content .service-box i {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .services .services-content .service-box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }

  .services .services-content .service-box i {
    margin: 0 0 30px;
  }
}

.services .services-content .service-box .text h3 {
  color: var(--main-color);
  margin-bottom: 30px;
}

.services .services-content .service-box .text p {
  color: var(--paragraph-color);
  line-height: 2;
}
/* End Services */
/* Start Design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  background-color: #1f2021;
  background-image: url(../Images/design-features.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}

.design .image, .design .text {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.design .image img {
  position: relative;
  bottom: -150px;
}

.design .text{
  padding: 50px;
  color: white;
  background-color: var(--transparent-color);
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.design .text ul li {
  padding: 15px 0;
}

.design .text ul li::before {
  content: "\e163";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
  display: flex;
  justify-content: center;
}

.portfolio .shuffle li {
  padding: 10px;
}

.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}

.portfolio .images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .portfolio .images-container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .portfolio .images-container .box {
    flex-basis: 25%;
  }
}

.portfolio .images-container .box img {
  max-width: 100%;
  transition: var(--main-transition);
}

.portfolio .images-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}

.portfolio .images-container .box .caption {
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: -100%;
  left: 0;
  background-color: white;
  transition: var(--main-transition);
}

.portfolio .images-container .box:hover .caption {
  bottom: 0;
}

.portfolio .images-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.portfolio .images-container .box .caption p {
  color: var(--main-color);
}

.portfolio .more {
  display: block;
  margin: 30px auto;
  text-transform: uppercase;
  color: white;
  padding: 15px 20px;
  width: fit-content;
  background: var(--main-color);
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}

.video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 40%);
}

.video video {
  width: 100%;
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  text-align: center;
  color: white;
  padding: 50px;
}

.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.video .text p {
  margin-bottom: 30px;
}

.video .text button {
  background: black;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
}

@media (max-width: 767px) {
  .video .text {
    padding: 10px;
  }
  
  .video .text h2 {
    margin: 20px 0;
  }

  .video .text p {
    margin: 20px 0;
  }
  
  .video .text button {
    margin-bottom: 10px;
  }
}
/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;
}

.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -60px;
  }
}
/* End About */
/* Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #1f2021;
  background-image: url(../Images/stats.png);
  background-size: cover;
  text-align: center;
  position: relative;
}

.stats::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}

.stats .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.stats .container .box {
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.stats .container .box p.number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}

.stats .container .box p {
  font-size: 14px;
}
/* End Stats */
/* Start Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.our-skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .our-skills .container > div {
    flex-basis: 45%;
  }
}

.our-skills .container > div > h3 {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.our-skills .container > div > p {
  color: var(--paragraph-color);
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}

.our-skills .container .testimonials .content {
  display: flex;
  align-items: center; /* To Prevent The Image From Stretching */
  margin-bottom: 30px;
}

.our-skills .container .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}

@media (max-width: 767px) {
  .our-skills .container .testimonials .content {
    flex-direction: column;
    text-align: center;
  }

  @media (max-width: 767px) {
    .our-skills .container .testimonials .content img {
      margin: 0 auto 20px;
    }
  }
}
.our-skills .container .testimonials .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.our-skills .container .testimonials .content .text p {
  font-size: 14px;
  color: var(--paragraph-color);
  text-align: right;
  margin-bottom: 10px;
}

.our-skills .container .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.our-skills .container .testimonials .bullets li {
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}

.our-skills .container .testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.our-skills .container .skills .progress-holder {
  margin-bottom: 40px;
}

.our-skills .container .skills .progress-holder h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.our-skills .container .skills .progress-holder .progress {
  height: 30px;
  background-color: #dedadc;
}

.our-skills .container .skills .progress-holder .progress span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
}

.our-skills .container .skills .progress-holder .progress span::before {
  content: attr(data-progress);
  width: 40px;
  padding: 5px 0;
  background-color: black;
  color: white;
  position: absolute;
  top: -40px;
  right: -20px;
  text-align: center;
  border-radius: 5px;
}

.our-skills .container .skills .progress-holder .progress span::after {
  content: "";
  border: 7px solid;
  border-color: black transparent transparent;
  position: absolute;
  top: -12px;
  right: -7px;
}
/* End Skills */
/* Start Quote */
.quote {
/* Start Quote */
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #1f2021;
  background-image: url(../Images/quote.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  position: relative;
}

.quote::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 75%);
}

.quote .container {
  position: relative;
}

.quote .container q {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
  position: relative;
}

.quote .container q::before {
  content: "\f10d";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    font-size: 15px;
    position: absolute;
    left: -5px;
}

.quote .container q::after {
  content: "\f10e";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    font-size: 15px;
    position: absolute;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}

.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pricing .plans .plan .head .price {
  font-weight: bold;
  font-size: 60px;
}

.pricing .plans .plan .head .price::before {
  content: "$";
  font-weight: normal;
  font-size: 25px;
  position: relative;
  top: -40px;
  left: -15px;
}

.pricing .plans .plan .head .price::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -15px;
}

.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}

.pricing .plans .plan ul li:not(:last-child):after {
  content: "";
  width: 140px;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
}

.pricing .plans .plan .foot a {
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid var(--main-color);
}

.pricing .contact-text {
  margin: 50px auto 20px;
  text-align: center;
  font-size: 20px;
}

.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 15px 30px;
  color: white;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

.pricing .contact-link:hover {
  transform: scale(0.9);
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #1f2021;
  background-image: url(../Images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
}

.subscribe::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 50%);
}

.subscribe .container {
  display: flex;
  align-items: center;
  position: relative;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}

.subscribe .container form {
  width: 500px;
  max-width: 100%;
  display: flex;
  position: relative;
}

.subscribe .container form i {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

.subscribe .container form input[type = "email"] {
  width: calc(100% - 130px);
  padding: 20px 20px 20px 60px;
  background-color: transparent;
  border: 1px solid white;
  border-right: none;
  caret-color: var(--main-color);
}

.subscribe .container form input[type = "submit"] {
  Width: 130px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid white;
  border-left: none;
  background-color: var(--main-color);
  color: white;
}

.subscribe .container form ::placeholder {
  color: white;
}

.subscribe .container form input:focus {
  outline: none;
}

.subscribe .container p {
  margin-left: 50px;
  line-height: 2;
}

@media (max-width: 991px) {
  .subscribe .container p {
    margin: 30px 0 0;
  }
}
/* End Subscribe */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .contact-content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contact .contact-content {
    flex-direction: column;
  }
}

.contact .contact-content form {
  flex-basis: 70%;
}

.contact .contact-content form .main-input {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}

.contact .contact-content form .main-input:focus {
  outline: none;
}

.contact .contact-content form textarea.main-input {
  height: 200px;
}

.contact .contact-content form input[type = "submit"] {
  display: block;
  margin-left: auto;
  padding: 20px;
  background-color: var(--main-color);
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.contact .contact-content .info {
  flex-basis: 25%;
}

@media (max-width: 767px) {
  .contact .contact-content .info {
    order: -1;
    text-align: center;
  }
}

.contact .contact-content .info h4 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 30px;
}

.contact .contact-content .info span.phone {
  display: block;
  margin-bottom: 10px;
  color: var(--paragraph-color)
}

.contact .contact-content .info h4:nth-of-type(2) {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .contact .contact-content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}

.contact .contact-content .info address {
  color: var(--paragraph-color);
  line-height: 2;
}

@media (max-width: 767px) {
  .contact .contact-content .info address{
    margin-bottom: 40px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2 );
  padding-bottom: calc(var(--section-padding) / 2 );
  background-color: #1f2021;
  background-image: url(../Images/subscribe.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

.footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 70%);
}

.footer .container {
  position: relative;
}

.footer .container img {
  margin-bottom: 20px;
}

.footer .container p:not(.copyright) {
  width: fit-content;
  font-size: 22px;
  text-transform: uppercase;
  padding: 20px;
  margin: 20px auto;
  border-bottom: 1px solid white;
}

.footer .container div.social-icons i {
  padding: 10px 15px;
}

.footer .container .copyright {
  margin-top: 60px;
}

.footer .container .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */